progress4/progress 4 (1).json
{
  "name": "progress 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a0520820-886e-4e2a-a2bd-3014bbc6130b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1RTyJRW0mE50W2V1DbbrFoNvVdolg9EDi",
            "mode": "list",
            "cachedResultName": "RAG SIMPLE",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1RTyJRW0mE50W2V1DbbrFoNvVdolg9EDi"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "b88af1ba-2ae9-4309-98e0-94cac8ddbabd",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pwsVpTpsem3nYVbF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "0b8cf700-e181-4762-8924-32194882d8a2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pwsVpTpsem3nYVbF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-test",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "fc5d345e-58a6-4c0c-a5f0-963f98efdc75",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ok1eXzGN1B4BGh8S",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        224
      ],
      "id": "f1796e5e-3963-4cea-93c5-929c6741ca55",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3is74ClhaEapwBt5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "pointers": "",
          "separator": ",",
          "column": "",
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "012374f4-5c44-43f8-90db-0be6a9fc1bb5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        864,
        416
      ],
      "id": "35f28bef-55c2-420b-94a8-346097df5260",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1ee6fea-32bd-47d4-9676-01c2196e28fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f4d17818d348c0c46d5dd18e8ada810454b0164059415da80318bcf7decf2cf"
  },
  "id": "z3Pun6yzZkYKKomN",
  "tags": []
}