workflow/BotAI.json
{
  "name": "BotAI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "199c8b07-a1f2-4400-83be-d2aa9e6af7c1",
      "name": "Telegram Trigger",
      "webhookId": "71cbd92a-5c5e-411e-969e-e583291571e6",
      "credentials": {
        "telegramApi": {
          "id": "mICgxzoCYrIfaX9W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "3f26719d-682e-46df-8a89-0f222aeabf21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "5f58d705-84da-4edc-8bca-041c4808528b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oDUBwhvnkjHp4aCf",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "3d1dbe2b-7eaa-41e9-a171-2d2e28b66092",
      "name": "Send a text message",
      "webhookId": "543ad711-ec02-48f5-8e47-03e6766a0365",
      "credentials": {
        "telegramApi": {
          "id": "mICgxzoCYrIfaX9W",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 655171798,
          "message": {
            "message_id": 18,
            "from": {
              "id": 6352856628,
              "is_bot": false,
              "first_name": "Jimin",
              "last_name": "Jimin",
              "language_code": "id"
            },
            "chat": {
              "id": 6352856628,
              "first_name": "Jimin",
              "last_name": "Jimin",
              "type": "private"
            },
            "date": 1764220379,
            "text": "Hai"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6b8dc18-72d4-46a0-b5c5-f0a25191d7ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f4d17818d348c0c46d5dd18e8ada810454b0164059415da80318bcf7decf2cf"
  },
  "id": "Fr7U9PY0cNwzENen",
  "tags": []
}