progress5 rag.json
{
  "name": "progress5 rag",
  "nodes": [
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -240,
        528
      ],
      "id": "e31c758a-94d3-4ddf-af0a-78305cf58b8b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        160
      ],
      "id": "fb87ce19-2f00-419e-bc23-7de4661f67be",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1MIEEJWvf-iTrDS9QCtGOYj-q7rzp8Igl",
            "mode": "list",
            "cachedResultName": "RAG PINTER",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1MIEEJWvf-iTrDS9QCtGOYj-q7rzp8Igl"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -992,
        160
      ],
      "id": "279c18d0-4b09-412f-b8a6-6e91aa478bdd",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pwsVpTpsem3nYVbF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -784,
        160
      ],
      "id": "b91fe930-98f9-452c-bfd6-75fd996d77ae",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pwsVpTpsem3nYVbF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-test",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -576,
        160
      ],
      "id": "ee635145-f944-4993-b0d3-1075bb81a9f8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ok1eXzGN1B4BGh8S",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        848
      ],
      "id": "bad031fc-aac9-4ab4-8eda-d3f6aaed55de",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3is74ClhaEapwBt5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -384,
        368
      ],
      "id": "3bdd172c-8e1c-4186-ade7-152c3c175527",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        176
      ],
      "id": "0f8653ce-6422-4c1a-ae89-90a25a28b295",
      "name": "Telegram Trigger",
      "webhookId": "4fe47fba-4c0e-4dfe-884d-5c1daa1f4cb6",
      "credentials": {
        "telegramApi": {
          "id": "mICgxzoCYrIfaX9W",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "path": "d8214c94-1f6e-4737-885b-9c5d64e10e9c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        0
      ],
      "id": "d5ecebc8-0bf8-445c-bbed-3527bc85416b",
      "name": "Webhook",
      "webhookId": "d8214c94-1f6e-4737-885b-9c5d64e10e9c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd1f769c-dcd2-4b32-948f-dce6c62957ec",
              "name": "user_massage",
              "value": "={{ $json.message }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        128
      ],
      "id": "bb2ba6aa-5b9e-49af-9bce-d35709a9053b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_massage.message_id }}",
        "options": {
          "systemMessage": "Kamu adalah asisten AI yang menjawab pertanyaan berdasarkan konteks dokumen.\nJika jawaban tidak ada di dokumen, katakan dengan jujur bahwa informasi tidak ditemukan.\nGunakan bahasa Indonesia yang jelas dan sopan.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        576,
        128
      ],
      "id": "be94507b-4007-472b-81ef-6020942778c4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        448
      ],
      "id": "00b8ab98-0e06-45a1-8d77-87f7c9421049",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3is74ClhaEapwBt5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Ambil dokumen dari Pinecone untuk menjawab pertanyaan pengguna menggunakan RAG.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-test",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        656,
        480
      ],
      "id": "78b6c9d0-1f38-4151-9d5c-d6c4ff843dd6",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "ok1eXzGN1B4BGh8S",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78d46bee-5377-42bc-a507-b84db39284a0",
              "leftValue": "={{$json.output}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        128
      ],
      "id": "3b36201d-8c01-4aff-9644-ec8274d68fe8",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1136,
        32
      ],
      "id": "38608956-9edd-43cd-86b4-ad226182152c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        224
      ],
      "id": "27d8bbd8-b14a-467e-b21a-cf673426523f",
      "name": "Send a text message",
      "webhookId": "f23dbdbb-4645-4abd-b125-be4afbf2acb8",
      "credentials": {
        "telegramApi": {
          "id": "mICgxzoCYrIfaX9W",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43b8237c-6e64-485b-a5fc-c918e0193499",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f4d17818d348c0c46d5dd18e8ada810454b0164059415da80318bcf7decf2cf"
  },
  "id": "zU4x9Y6TJHD8BSlD",
  "tags": []
}